
<button {{action 'toggleDropdown'}} class="{{if open 'active' ''}}">
  {{buttonLabel}} {{fa-icon "caret-down"}}
</button>

<ul class="multi-select-dropdown {{if isOpen 'open' ''}}">
  {{#if searchable}}
      {{input value=searchString autofocus="true"}} <i class="fa fa-remove" {{action 'clearSearch'}}></i>
  {{/if}}
  {{#each option in filteredOptions}}
    <li {{action "select" option}} class="multi-select-item clearfix {{option.state}}">
      <a>{{option.label}}</a> <i class="fa fa-check  {{if option.state '' 'hide'}}"></i>
    </li>
  {{/each}}
</ul>

{{yield}}
